[Unit]
Description=chatwire-a
Wants=network-online.target
After=network.target network-online.target

[Service]
User=fact2
WorkingDirectory=/home/fact2/cw-a/
ExecStart=/home/fact2/cw-a/start.sh

KillSignal=SIGTERM
TimeoutStopSec=300s
KillMode=process
SendSIGKILL=no

Restart=always
RestartSec=1
StartLimitBurst=3
StartLimitIntervalSec=1

[Install]
WantedBy=multi-user.target
